* {
  
  margin: 0 ;
}

.ant-card-meta-avatar{
  padding-inline-end:0px !important
}



.custom-dashboard-card .ant-card-head {
  padding: 8px 16px;
}

.custom-dashboard-card .ant-card-body {
  padding: 24px;
}
